# Backups and temporary database files
respaldos/
data/backups/
data/*.log
data/*.sqlite3-wal
data/*.sqlite3-shm

# Python byte-code & caches
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment & IDE
.env
.venv/
env/
venv/
.vscode/
.idea/
# Archive packages
*.zip
.github/
